---
import { education } from "@/cv.json";
---

<section>
  <h2>Educación</h2>
  <ul>
    {
      education.map(
        ({ institution, area, endDate, startDate}) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate !== null ? new Date(endDate).getFullYear() : null;
          const years = `${startYear}${endYear ? ` - ${endYear}` : ""}`;
          return (
            
            <li>
              <article class="flex my-6 first:mt-2 justify-between items-start">
                  <div>
                    <h3 class="font-bold text-xl">{institution}</h3>
                    <p class="font-semibold text-base">{area}</p>
                  </div>
                  <time>{years}</time>

              </article>
            </li>
          );
        }
      )
    }
  </ul>
</section>
