---
import { projects } from "@/cv.json";
import { Badge } from "./ui/badge";
import GitHub from "@/icons/GitHub.astro";
import { Card } from "./ui/card";
---

<section id="projects">
  <h2>Proyectos</h2>
  <ul class="gap-3 grid grid-cols-1 md:grid-cols-2 projectGrid">
    {
      projects.map((proyect) => (
        <li>
          <Card className="rounded-xl border p-4 gap-4 flex flex-col h-full">
            <header>
              <div class="flex items-center gap-2">
                <a
                  href={proyect.url}
                  target="_blank"
                  title="{proyect.name}"
                  class="flex items-center hover:underline">
                  <h3 class="text-lg">{proyect.name} </h3>
                </a>
                {proyect.github ? (
                  <a
                    class=" no-print flex items-center justify-center"
                    href={proyect.github}
                    target="_blank">
                    <GitHub />
                  </a>
                ) : null}
              </div>

              <p class="text-sm">{proyect.description}</p>
            </header>
            <p class="print break-words text-sm text-pretty ">{proyect.github ? proyect.github : proyect.url}</p>

            <footer class="flex  gap-2 flex-col flex-wrap no-print">
              <div>
                {proyect.technologies.map((technology) => (
                  <Badge variant={"secondary"}>{technology}</Badge>
                ))}
              </div>
            </footer>
          </Card>
        </li>
      ))
    }
  </ul>
</section>
